[Unit]
Description=DHCPv6 Server Daemon
After=syslog.target network.target

[Service]
EnvironmentFile=/etc/sysconfig/dhcpd6
ExecStart=/usr/sbin/dhcpd -6 -d --no-pid $DHCPDARGS

[Install]
WantedBy=multi-user.target
